{% if employeeContacts %}
  <div class="employeeCards">
    {% for contact in employeeContacts %}
      <section class="employeeCard">
        <h2 class="employeeCard__title">
          {{ contact.title | safe }}
        </h2>

        <p class="employeeCard__subtitle">
          {{ contact.subtitle | safe }}
        </p>

        <picture class="employeeCard__picture">
          <source srcset="{{ contact.avatar.source }}" type="image/webp">
          <img
            class="employeeCard__avatar"
            src="{{ contact.avatar.fallback }}"
            alt="{{ contact.name | safe }} avatar"
            loading="lazy"
          />
        </picture>

        <span class="employeeCard__name">
          {{ contact.name | safe }}
        </span>

        <span class="employeeCard__role">
          {{ contact.role | safe }}
        </span>

        <ul class="employeeCard__goals">
          {% for goal in contact.goals %}
            <li class="employeeCard__goal">
              {{ goal | safe }}
            </li>
          {% endfor %}
        </ul>

        <a class="button employeeCard__button" href="mailto:{{ contact.email}}">
          Send Email
        </a>
      </section>
    {% endfor %}
  </div>
{% endif %}
