{% if reviews %}
  <section class="reviews">
    <h2 class="visually-hidden">Reviews</h2>

    {% for item in reviews %}
      <section class="review">
        <h3 class="visually-hidden">Feedback from {{ item.author }}</h3>

        <a class="link review__link" href="{{ item.link.url}}" rel='noopener nofollow' target='_blank'>
         <span class="link__title">{{ item.link.label }}</span> @&nbsp;{{ item.link.service}}
        </a>

        <div class="review__card">
          <picture>
            <source srcset="{{ item.avatar.srcset }}" type="image/webp">
            <img
              class="review__authorImg"
              src="{{ item.avatar.fallback }}"
              alt="{{ item.author }} avatar"
              loading="lazy"
            />
          </picture>

          <p class="review__text">
            <cite class="review__cite">
              {{ item.text | safe }}
            </cite>

            <span class="review__author" rel="author">
              {{ item.author }}
            </span>
          </p>

          <span class="review__company">
            {{ item.company }}
          </span>
        </div>
      </section>
    {% endfor %}
  </section>
{% endif %}
