:root {
  --space-3xs: 4px;
  --space-2xs: 6px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 32px;
  --space-3xl: 48px;
  --space-4xl: 64px;
  --space-5xl: 96px;
  --color-primary: #fff;
  --color-primary-hover: rgb(255 255 255 / 80%);
  --color-black: #000;
  --color-gray: #9b9b9b;
  --color-gray25: #404040;
  --color-sky-blue: #00a3ff;
  --color-sky-blue-hover: rgb(0 163 255 / 80%);
  --color-sky-blue-disabled: rgb(0 163 255 / 30%);
  --color-yellow: #ffe052;
  --color-quick-silver: #a7a7a7;
  --color-black-olive: #404040;
  --bg-color-dark: #282828;
  --bg-color-night: #343434;
}
