.mainPage__title {
  font-size: var(--font-size-l);
  font-weight: 100;
  line-height: var(--line-height-xl);

  margin-right: auto;
  margin-bottom: var(--space-xl);
  margin-left: auto;

  text-align: center;

  @media (--tablet) {
    font-size: var(--font-size-xl);

    max-width: 596px;
    margin-bottom: var(--space-3xl);
  }

  @media (--desktop-s) {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-3xl);

    max-width: 780px;
  }

  @media (--desktop-m) {
    max-width: 800px;
  }
}

.mainPage__title b {
  font-weight: 400;
}
