.DS_*
*.log
logs

/dist
/node_modules

# IDEs and editors
/.idea
snippets/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# System Files
.DS_Store
Thumbs.db

