---
title: "Custom Product & Software Development"
description: "Web, mobile, cloud apps starting from MVP, scale and adapt them to changing business goals"
layout: page.njk
permalink: index.html
---

{% include 'header.njk' %}

<main class="container mainPage">
  {% include 'techStack.njk' %}

  {% if header.about %}
    <h2 class="mainPage__title">{{ header.about | safe }}</h2>
  {% endif %}

  {% include 'applicationForm.njk' %}

  {% include 'ourServices.njk' %}

  {% include 'employeeContacts.njk' %}

  {% include 'reviews.njk' %}

  {% include 'features.njk'%}

  {% include 'exampleProject.njk' %}
</main>

{% include 'footer.njk' %}

{% include 'cookieBanner.njk' %}

{% include 'svgSprite.njk' %}
