<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
      {{title}}
    </title>
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="Lorem Scriptum">
    <meta property="og:url" content="https://loremscriptum.com/">
    {# TODO: LS-116 add og image #}
    {# <meta property="og:image" content=""> #}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:site" content="https://loremscriptum.com/">
    {# TODO: LS-116 add og image #}
    {# <meta name="twitter:image" content=""> #}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="assets/favicon.svg" type="image/svg+xml">

    {% include '../fonts/fonts.njk' %}

    <link rel="stylesheet" href="styles/styles.css">

    <script defer src="scripts/scripts.js"></script>
</head>
<body>
    {{ content | safe }}
</body>
</html>
