<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
      {{title}}
    </title>
    {# TODO Add description #}
    <meta name="description" content="TODO Сюда напишем красивый description">
    {# TODO Add OG meta #}
    <meta property="og:type" content="website">
    <meta property="og:title" content="LS">
    <meta property="og:site_name" content="LS OG description">
    <meta property="og:url" content="https://master.loremscriptum.csssr.cloud/">
    <meta property="og:image" content="https://master.loremscriptum.csssr.cloud/static/features/features_illustration_5.svg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="LP">
    <meta name="twitter:description" content="LS OG description">
    <meta name="twitter:site" content="https://master.loremscriptum.csssr.cloud/">
    <meta name="twitter:image" content="https://master.loremscriptum.csssr.cloud/static/features/features_illustration_5.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% include '../fonts/fonts.njk' %}

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    {{ content | safe }}
    <script src="scripts/scripts.js"></script>
</body>
</html>
